
.logo{
    width: 50px;
    height: 50px;
}

.search{
    width:50px;
    height:50px;
}
.cart{
    width:40px;
    height:40px;
}
.navbar-bar{
    list-style: none;
    display: flex;
    gap: 30px; /* space between categories */
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    top:30px;
    left:0;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}
.navbar-right{
    list-style: none;
    display:flex;
    gap:20px;
}
.navbar button{
    background:transparent!important;
    color: #49557e !important;
    font-size: 10px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff; 
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    
}